<div class='row-fluid login'>
  <div class='centered'>
    <div class="with-margin">
      <button class="btn btn-warning btn-large btn-login">
      	<i class="icon-user icon-white"></i><br>
        <a class='fonted flat' href='<%= url('/auth/facebook') %>'>Login</a>
      </button>
    </div>
  </div>
</div>