<div class='row-fluid login'>
  <div class='centered'>
    <div class="with-margin">
      <button class="btn btn-primary btn-large btn-login">
        <a class='fonted flat' href='<%= url('/auth/facebook') %>'>View your Facebook Graph</a>
      </button>
    </div>
  </div>
</div>