<div class='row-fluid login'>
  <div class='centered'>
    <div class="with-margin">
      <a class="btn btn-warning btn-large btn-login fonted flat" href='<%= url('/auth/facebook') %>'>
      	<i class="icon-user icon-white"></i><br>
        Login
      </a>
    </div>
  </div>
</div>