@font-face {
    font-family: 'lobster_1.3regular';
    src: url('../font/lobster_1.3-webfont.eot');
    src: url('../font/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/lobster_1.3-webfont.woff') format('woff'),
    url('../font/lobster_1.3-webfont.ttf') format('truetype'),
    url('../font/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	
}

a.flat:link {
	color:white;
}

a.flat:hover {
	color:white;
	text-decoration: none;
}

a.flat:visited {
	color:white;
}

#header {
	font-size: 22px;
	margin-bottom: 40px;
}

.logo {
	font: 110px 'lobster_1.3regular', Arial, sans-serif;

}

a.fonted{
    font-family: 'lobster_1.3regular', Arial, sans-serif;
    font-size: 50px;
    padding-bottom: 15px;
}

h2.seekr {
	font: 42px 'lobster_1.3regular', Arial, sans-serif;
	font-weight: normal;
	text-align: center;
}

h2.seekr img {
	margin-top: -10px;
	margin-right: 5px;
}

.centered {
	text-align: center;
}

.login .centered {
	padding: 4em;
}

.with-margin {
	margin: 20px;
}

#map { 
	height: 100%; 
}

.find-me {
	margin-bottom: 20px;
}

.icon-globe {
	margin-top: 2px;
	margin-right: 5px;
}

.hided {
	display: none;
}

p {
	line-height: 23px;
}

.alert {
	display: none;
	border: 1px solid #DFDFDF !important;
	background-color: #E6E9FF!important; 
	color: black !important;
}

.sigma-expanded {
	background-color: #C2C2C2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}