@font-face {
    font-family: 'vtks_animal_2regular';
    src: url('../font/vtks_animal_2-webfont.eot');
    src: url('../font/vtks_animal_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/vtks_animal_2-webfont.woff') format('woff'),
         url('../font/vtks_animal_2-webfont.ttf') format('truetype'),
         url('../font/vtks_animal_2-webfont.svg#vtks_animal_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #787878;
	
}

a.flat:link {
	color:white;
}

a.flat:hover {
	color:white;
	text-decoration: none;
}

a.flat:visited {
	color:white;
}

#header {
	font-size: 22px;
	margin-bottom: 40px;
}

.logo {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

a.fonted{
    font-family: 'vtks_animal_2regular', Arial, sans-serif;
    font-size: 50px;
    padding-bottom: 15px;
}

.nav-text {
	font: 42px 'vtks_animal_2regular', Arial, sans-serif;
	font-weight: normal;
	margin-left: 65px;
	margin-top: 6px;
	color: #FBB450;
	border:0px solid red;
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
	width:20px;
	height:20px;
	text-shadow: 0px 0px 1px #333;
}

h2.seekr img {
	margin-top: -10px;
	margin-right: 5px;
}

.centered {
	text-align: center;
}

.login .centered {
	padding: 4em;
}

.with-margin {
	margin: 20px;
}

#map { 
	height: 100%; 
}

.find-me {
	margin-bottom: 20px;
}

.icon-globe {
	margin-top: 2px;
	margin-right: 5px;
}

.hided {
	display: none;
}

p {
	line-height: 23px;
}

.alert {
	display: none;
	border: 1px solid #DFDFDF !important;
	background-color: #E6E9FF!important; 
	color: black !important;
}

.sigma-expanded {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}